{% extends 'cabinet/cabinet_base.html' %}
{% load static%}
{% block content %}
    <section class="favorites" id="fav_section">
        <div class="container">
            <div class="offer-block favorites-block">
                <div class="offer-block-img favorites-block-img">
                    <img src="img/offer-img.png" class="offer-block__img" alt="">
                    <button type="button" class="favorites-star-btn"></button>
                </div>
                <a href="#">
                    <div class="offer-wrapper favorites-block-offer-wrapper">
                        <p class="offer-wrapper__text offer-wrapper__text_small">
                            Реализуем трубу стальную диаметром 530мм. Труба чистая и очищенная. Размеры труб 530х7 530х8 530х12 мм. Осуществляем резку трубы в нужный вам размер, пескоструйную обработку. Труба применяется под металлоконструкции, в трубопроводах промышленного.
                        </p>
                        <div class="offer-number favorites-number">
                            <span class="number-offer">№ процедуры - йцукенгл 12345678</span>
                            <span class="number-procedure">12121212.00</span>
                        </div>
                        <div class="offer-organization favorites-organization">
                            <div class="favorites-organization-block">
                                <div class="offer-organization__name">
                                    <p>ООО "Тестовая организация 555"</p>
                                </div>
                                <div class="offer-organization__address favorites-address">
                                    <p>Московская обл.</p>
                                </div>
                            </div>

                            <div class="offer-organization__time favorites-time">
                                <span class="offer-organization__time__number">19 окт.,</span>
                                <span class="offer-organization__time__time"> 16:43</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="offer-block favorites-block">
                <div class="offer-block-img favorites-block-img">
                    <img src="img/offer-img.png" class="offer-block__img" alt="">
                    <button type="button" class="favorites-star-btn"></button>
                </div>
                <a href="#">
                    <div class="offer-wrapper favorites-block-offer-wrapper">
                        <p class="offer-wrapper__text offer-wrapper__text_small">
                            Реализуем трубу стальную диаметром 530мм. Труба чистая и очищенная. Размеры труб 530х7 530х8 530х12 мм. Осуществляем резку трубы в нужный вам размер, пескоструйную обработку. Труба применяется под металлоконструкции, в трубопроводах промышленного.
                        </p>
                        <div class="offer-number favorites-number">
                            <span class="number-offer">№ процедуры - йцукенгл 12345678</span>
                            <span class="number-procedure">12121212.00</span>
                        </div>
                        <div class="offer-organization favorites-organization">
                            <div class="favorites-organization-block">
                                <div class="offer-organization__name">
                                    <p>ООО "Тестовая организация 555"</p>
                                </div>
                                <div class="offer-organization__address favorites-address">
                                    <p>Московская обл.</p>
                                </div>
                            </div>

                            <div class="offer-organization__time favorites-time">
                                <span class="offer-organization__time__number">19 окт.,</span>
                                <span class="offer-organization__time__time"> 16:43</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
{% endblock content %}