{% extends 'base.html' %}
{% load static%}
{% block content %}
<h2>Всего заявок: {{ all }}</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Сайт</th>
      <th scope="col">Всего</th>
      <th scope="col">Месяц</th>
      <th scope="col">День</th>
      <th scope="col">Статус</th>
    </tr>
  </thead>
  <tbody>
    {% for offer_source in offer_sources %}
      <tr>
        <th scope="row">{{ offer_source.name }}</th>
        <td>{{ offer_source.all_count }}</td>
        <td>{{ offer_source.month_count }}</td>
        <td>{{ offer_source.day_count }}</td>
        <td>{% if offer_source.name != 'Все' %}{{ offer_source.status }}{% endif %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}