{% load cms_tags menu_tags sekizai_tags staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{% page_attribute 'meta_description' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'synrate_static/css/css2.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'synrate_static/css/style.css' %}">
    <link href="{% static 'synrate_static/img/favicon.png' %}" rel="icon" type="image/x-icon">
    <title>{% page_attribute 'page_title' %} - Synrate</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <style>
        .cms-screenblock{
            display: none;
        }
        .offers-count {
            text-align: center;
            color: grey;
            margin: 15px;
        }
        a {
        text-decoration:none;
        }
    </style>
    <script src="{% static 'synrate_static/js/jquery-3.6.0.min.js' %} "></script>
    {% render_block "css" %}
</head>
<body>
    {% cms_toolbar %}

    <header class="header" id="header">
        <div class="container container_relative">
            <nav>
                <div class="logo">
                    <a href="{% url 'synrate_main:index' %}" class="logo__link"><img src="{% static 'synrate_static/img/logo.svg' %}" alt="logo"></a>
                </div>
                <div class="search">
                    <form class="search__line">
                        <input type="search" name="q" placeholder="Начните поиск..." class="search__item">
                    </form>
                    <div class="search__img"></div>
                </div>
                <div class="nav">
                    <ul class="nav__list">
                        <li class="nav__item ">
                            <a href="#" class="nav__link nav__link_list" id="nav__link_list">Категории</a>
                        </li>
                        <li class="nav__item">
                            <a href="https://synrate.ru/info/tarify" class="nav__link">Тарифы</a>
                        </li>
                        <li class="nav__item">
                            <a href="https://synrate.ru/info/kontakty/" class="nav__link">Контакты</a>
                        </li>
                        <li class="nav__item">
                            <a href="https://synrate.ru/info" class="nav__link">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="mobile-menu">
                    <button type="button" class="mobile-menu__btn"><img src="{% static 'synrate_static/img/burger.svg' %}" alt=""></button>

                </div>
                {% if request.user.is_authenticated %}
                <div class="user-block">
                    <button type="button" class="user-block__btn user-block__btn_active" id="user-block__btn">
                        <div class="user-img">
                            <img src="{% static 'synrate_static/img/Icon-User.svg' %}" alt="user">
                        </div>
                        <div class="user-name">
                            <p class="user-name__text">
                                {{ request.user }}
                            </p>
                        </div>
                    </button>
                </div>
                <div class="user-block-list" id="user-block-list">
                    <button type="button" class="user-block-list-button" id="user-block-list-button">
                        <div class="user-img user-img_click">
                            <img src="{% static 'synrate_static/img/icon user gr.svg' %}" alt="user">
                        </div>
                        <div class="user-name user-name_click">
                            <p class="user-name__text">
                                {{ request.user }}
                            </p>
                        </div>
                    </button>
                    <ul>
                        <li>
                            <a href="{% url 'Users:cabinet' %}">Настройки</a>
                        </li>
                        <li>
                            <a href="#">Финансы</a>
                        </li>
                        <li>
                            <a href="#">Категории</a>
                        </li>
                        <li>
                            <a href="">Избранное</a>
                        </li>
                        <li>
                            <a href="#">Тех.поддержка</a>
                        </li>
                        <li>
                            <a href="{% url 'Users:logout' %}" class="btn-exit btn-exit_blue">Выход</a>
                        </li>
                    </ul>
                </div>
                {% else %}
                <div class="btns">
                    <a href="{% url 'Users:register' %}" class="btn-registration"><img src="{% static 'synrate_static/img/registr.svg' %}" alt="regist"></a>
                    <a href="{% url 'Users:login' %}" class="btn-enter">Вход</a>
                </div>
                {% endif %}
                <div class="mobile-menu-block">
                    <ul class="nav__list">
                        <li class="nav__item ">
                            <a href="#" class="nav__link nav__link_mobile" id="nav__link_list">Категории</a>
                        </li>
                        <li class="nav__item">
                            <a href="https://synrate.ru/info/tarify" class="nav__link">Тарифы</a>
                        </li>
                        <li class="nav__item">
                            <a href="https://synrate.ru/info/kontakty/" class="nav__link">Контакты</a>
                        </li>
                        <li class="nav__item">
                            <a href="https://synrate.ru/info" class="nav__link">FAQ</a>
                        </li>
                    </ul>
                    <div class="categories-block_mobile categories-block" id="categories-block">
                        <ul class="categories-list">
                            <li class="categories-item">
                                <a href="{% url 'synrate_main:filtration' %}" class="categories-link categories-link_one">Складские остатки  предприятий</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="categories-block" id="categories-block">
                <ul class="categories-list">
                    <li class="categories-item">
                        <a href="{% url 'synrate_main:search_all' %}" class="categories-link categories-link_one">Складские остатки  предприятий</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock content %}
    {% placeholder footer or %}
    <footer class="footer" id="footer">
        <div class="container">
            <div class="footer-nav">
                <div class="footer-messanger">
                    <!-- noindex -->
                    <a href="#" class="footer-messanger__link" rel="nofollow noopener noreferrer" target="_blank">
                        <img src="{% static 'synrate_static/img/whatsapp.svg' %}" alt="whatsapp">
                    </a>
                    <!-- /noindex -->
                    <!-- noindex -->
                    <a href="#" class="footer-messanger__link" rel="nofollow noopener noreferrer" target="_blank">
                        <img src="{% static 'synrate_static/img/insta.png' %}" alt="instagram">
                    </a>
                    <!-- /noindex -->
                    <!-- noindex -->
                    <a href="#" class="footer-messanger__link" rel="nofollow noopener noreferrer" target="_blank">
                        <img src="{% static 'synrate_static/img/telegram.png' %}" alt="telegram">
                    </a>
                    <!-- /noindex -->
                    <!-- noindex -->
                    <a href="#" class="footer-messanger__link" rel="nofollow noopener noreferrer" target="_blank">
                        <img src="{% static 'synrate_static/img/fb.svg' %} " alt="facebook">
                    </a>
                    <!-- /noindex -->
                </div>
                <div class="footer-menu">
                    <ul>
                        <li>
                            <a href="{% url 'synrate_main:category_list' %}">Категории</a>
                        </li>
                        <li>
                            <a href="https://synrate.ru/info/tarify">Тарифы</a>
                        </li>
                        <li>
                            <a href="https://synrate.ru/info/kontakty/">Контакты</a>
                        </li>
                        <li>
                            <a href="https://synrate.ru/info">FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-info">
                <div class="footer-info__block">
                    <span>2021</span>
                    <a href="{% url 'synrate_main:index' %}">SYNRATE.RU</a>
                </div>
                <div class="footer-info-user">
                    <a href="https://synrate.ru/info/polzovatelskoe-soglashenie/">Пользовательское соглашение</a>
                    <a href="https://synrate.ru/info/politika-konfidencialnosti/">Политика конфиденциальности</a>
                </div>
            </div>
        </div>
    </footer>
    {% endplaceholder %}

    <script src="{% static 'synrate_static/js/main.js' %}"></script>
    <!— Yandex.Metrika counter —>
    <script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(86669882, "init", {
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true,
    webvisor:true
    });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/86669882" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!— /Yandex.Metrika counter —>
    {% render_block "js" %}
</body>
</html>