{% extends 'base.html' %}
{% load static main_tags %}

{% block title %} {{ search_filter }} - Найдено {{ offers.paginator.count }} {{ offers.paginator.count|pluralize:"объявление,объявления,объявлений" }} - купить остатки товаров - купить складские остатки, запасы. {% endblock title %}

{% block content %}
<style>
    .search__line{
        opacity: 0;
    }
    @media (max-width: 1700px){
        .filters{
            background-color: #fff;
            width: 80%;
            margin-left: 10%;
            margin-right:10%;
            margin-top: 20px;
            border: 1px solid rgba(0,0,0,0.2);
            padding: 15px;
            box-shadow: 0px 2px 5px rgb(0 0 0 / 25%);
        }
        .filters input, .filters label, .filters section{
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .finput{
            border: 1px solid #F37E09!important;
            border-radius: 15px;

            width: 80%;
            padding-left:10px;
            padding-right:10px;
            margin-left: 10%;
            height:24px;
        }
        .filters input[type=text]{
            height:14px;
            background-color: #fff;
            width: 80%;
            padding-left:10px;
            padding-right:10px;
            margin-left: 10%;
            border-radius: 15px;
            border: 1px solid #F37E09;
        }
        .filters h3{
            text-align: center;
            margin-bottom: 15px;
        }
        .filters label{
            margin-left: 3px;
            margin-right: 3px;
            font-size: 13px;
        }
        .filters label span{
            transition: .2s;
            font-weight:600;
        }
        .filters input[type=radio]:checked ~ span{
            color:#F37E09;
            text-decoration: underline;
        }
        .ui-autocomplete{

            max-height: 200px;
            overflow-y: scroll;
            overflow-x: none;
            border: 1px solid #F37E09;
            background-color: #fff;
            font-weight: 600;
            font-size: 16px;
            width: 80vw;
            left: 10vw!important;
        }
        .ui-menu-item::focus, .ui-menu-item:hover{
            background-color: #F37E09;
        }
        .search_hdr{
            font-size: 14px;
            font-weight:600;
        }
        .filters input[type=button]{
            background-color: #fff;
            border 1px solid #F37E09;
            border-radius: 15px;
            width: 33%;
            padding-left:10px;
            padding-right:10px;
            margin-left: 33%;
            height: 40px;
        }
    }
    @media (min-width:1700px){
        .filters{
            background-color: #fff;
            position:absolute;
            width: 17%;
            left: 30px;
            top: 220px;
            border: 1px solid rgba(0,0,0,0.2);
            padding: 15px;
            box-shadow: 0px 2px 5px rgb(0 0 0 / 25%);
        }
        .filters input, .filters label, .filters section{
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .finput{
            border: 1px solid #F37E09!important;
            border-radius: 15px;

            width: 80%;
            padding-left:10px;
            padding-right:10px;
            margin-left: 10%;
            height:24px;
        }
        .filters input[type=text]{
            height:24px;
            background-color: #fff;
            width: 80%;
            padding-left:10px;
            padding-right:10px;
            margin-left: 10%;
            border-radius: 15px;
            border: 1px solid #F37E09;
        }
        .filters h3{
            text-align: center;
            margin-bottom: 15px;
        }
        .filters label{
            margin-left: 3px;
            margin-right: 3px;
            font-size: 13px;
        }
        .filters label span{
            transition: .2s;
            font-weight:600;
        }
        .filters input[type=radio]:checked ~ span{
            color:#F37E09;
            text-decoration: underline;
        }
        .ui-autocomplete{
            max-height: 100px;
            overflow-y: scroll;
            overflow-x: none;
            border: 1px solid #F37E09;
            background-color: #fff;
            font-weight: 600;
            font-size: 16px;
            width: 600px;
        }
        .ui-menu-item::focus, .ui-menu-item:hover{
            background-color: #F37E09;
        }
        .search_hdr{
            font-size: 14px;
            font-weight:600;
        }
        .filters input[type=button]{
            background-color: #fff;
            border 1px solid #F37E09;
            border-radius: 15px;
            width: 33%;
            padding-left:10px;
            padding-right:10px;
            margin-left: 33%;
            height: 40px;
        }

    }
</style>

    {% include 'filtr_form.html' %}

    <section class="offers" id="offers">
        <div class="container">
            <div class="offers-title-block">
                <div class="offers-title-block-img">
                    <img src="{% static 'synrate_static/img/offers-title-img.svg' %}" alt="wrapper">
                </div>
                
                {% if from_search %}
                    <h1 class="offers-title">{{ search_filter|capfirst }}</h1>
                {% else %}
                    <h1 class="offers-title">
                        Объявления о продаже складских остатков, {{ offers.number }} стр.
                    </h1>
                {% endif %}   
            </div>
            <div class="offers-count-block">
                <h4 class="offers-count"> Найдено {{ offers.paginator.count }} {{ offers.paginator.count|pluralize:"объявление,объявления,объявлений" }} по запросу: {{ search_filter }}</h4>
            </div>

            {% if top_banners %}
                <div class="top_banner">
                    {% for banner in top_banners %}
                        {{ banner.code|safe }}
                    {% endfor %}
                </div>
            {% endif %}



            <div class="row">
                <div class="col-12 col-lg-9">


                    <div class="offers-block">
                    {% for offer in offers %}
                        <div class="offer-block">
                            <div class="offer-block-img">
                                {% if offer.home_name == "nelikvidi" %}
                                <img src="{% static 'img/nelikvidi.png' %}" class="offer-block__img" alt="">
                                {% endif %}
                                {% if offer.home_name == "tektorg" %}
                                <img src="{% static 'img/tectorg.png' %}" class="offer-block__img" alt="">
                                {% endif %}
                                {% if offer.home_name == "tenderpro" %}
                                <img src="{% static 'img/tender.png' %}" class="offer-block__img" alt="">
                                {% endif %}
                                {% if offer.home_name == "isource" %}
                                <img src="{% static 'img/isource.png' %}" class="offer-block__img" alt="">
                                {% endif %}
                                {% if offer.home_name == "onlinecontract" %}
                                <img src="{% static 'img/onlinecontract.png' %}" class="offer-block__img" alt="">
                                {% endif %}
                                {% if offer.home_name == "roseltorg" %}
                                <img src="{% static 'img/roseltorg.png' %}" class="offer-block__img" alt="">
                                {% endif %}
                                {% if offer.home_name == "etpgpb" %}
                                <img src="{% static 'img/etpgpb_1.png' %}" class="offer-block__img" alt="">
                                {% endif %}
                                {% if offer.home_name == "fabrikant" %}
                                <img src="{% static 'img/fabrikant_1.png' %}" class="offer-block__img" alt="">
                                {% endif %}
                                {% if offer.home_name == "etp-activ" %}
                                <img src="{% static 'img/etp-activ.png' %}" class="offer-block__img" alt="">
                                {% endif %}
                                {% if offer.home_name == "b2b-center" %}
                                <img src="{% static 'img/b2b-center.png' %}" class="offer-block__img" alt="">
                                {% endif %}
                                {% if offer.home_name == "vk.com" %}
                                <img src="{% static 'img/vk.png' %}" class="offer-block__img" alt="">
                                {% endif %}
                                {% if offer.home_name == "telegram" %}
                                <img src="{% static 'img/telegram.png' %}" class="offer-block__img" alt="">
                                {% endif %}
                                {% if offer.home_name == "prostanki" %}
                                <img src="{% static 'img/prostanki.png' %}" class="offer-block__img" alt="">
                                {% endif %}
                                {% if offer.home_name == "metaprom" %}
                                <img src="{% static 'img/metaprom.png' %}" class="offer-block__img" alt="">
                                {% endif %}
                                {% if offer.home_name == "promportal" %}
                                <img src="{% static 'img/promportal.png' %}" class="offer-block__img" alt="">
                                {% endif %}
                            </div>
                            {% if offer.slug is not None and offer.slug != '' %}
                            <a href="{% url 'synrate_main:detail_view' id=offer.slug %}" class="detailhref">
                            {% else %}
                            <a href="{% url 'synrate_main:detail_view' id=offer.id %}" class="detailhref">
                            {% endif %}
                                <div class="offer-wrapper">
                                    <p class="offer-wrapper__text">
                                        {{ offer.name }}
                                    </p>
                                    <div class="offer-number">
                                        <span class="number-offer">№ процедуры - {{ offer.id }}</span>
                                        {% if offer.price != 0 %}
                                            <span class="number-procedure">{{ offer.price }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="offer-organization">
                                        <div class="offer-organization-wrapper">
                                            {% if offer.organisation != None and offer.organisation != '' %}
                                            <div class="offer-organization__name">
                                                <p>{{ offer.organisation }}</p>
                                            </div>
                                            {% endif %}
                                            {% if offer.location != None and offer.location != '' %}
                                            <div class="offer-organization__address">
                                                <p>{{ offer.location }}</p>
                                            </div>
                                            {% endif %}
                                        </div>
                                        {% if offer.offer_start_date != None %}
                                        <div class="offer-organization__time">
                                            <span class="offer-organization__time__number"> {{ offer.offer_start_date }}</span>
                                        </div>
                                        {% endif %}
                                        {% if offer.offer_end_date != None %}
                                        <div class="offer-organization__time">
                                            <span class="offer-organization__time__number"> {{ offer.offer_end_date }}</span>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}

                    </div>
                    <style>
                        .page_square_btn{
                            display:inline-block;
                            min-width: 50px;
                            padding-left: 9px;
                            padding-right: 9px;
                            text-align:center;
                            padding-top: 5px;
                            height: 34px;
                            font-weight:800;
                            font-size:18px;
                            border: 1px solid rgba(0,0,0,0.6);
                            border-radius: 3px;
                            color: #F37E09;
                            margin-left: 10px;
                            margin-right: 10px;
                        }
                        .page_square_btn__current{
                            background-color: #F37E09;
                            color: #fff;
                        }
                        @media(max-width:920px){
                            .page_square_btn{
                                min-width: 30px;
                                padding-left: 3px;
                                padding-right: 3px;
                                margin-top: 5px;
                                padding-top: 5px;
                                height: 26px;
                                font-weight:800;
                                font-size:12px;
                                margin-left: 3px;
                                margin-right: 3px;
                            }

                        }
                    </style>

                </div>
                <div class="col-12 col-lg-3">
                    {% include 'sidebar.html' %}
                </div>
            </div>
            <br>
            <hr>
            <br>

            <div class="page-numbers" style="position:absolute; left:0; width:100%;">

                {% if qs %}
                <div class="page-numbers__btns">
                    {% if offers.number|add:'-5' > 1 %}
                        <script>
                            var qs_func = function(){
                                let url = new URL(location.href);
                                url.searchParams.delete('page');
                                return url;
                            };
                            document.write('<a href="'+ qs_func() + '&page=1' +'" class="page_square_btn">1</a>')
                        </script>
                    {% endif %}

                    {% for i in offers.paginator.page_range %}
                        {% if offers.number == i %}
                            <span class="page_square_btn page_square_btn__current">{{ offers.number }}</span>
                        {% elif i > offers.number|add:'-4' and i < offers.number|add:'4' %}
                            <script>
                                var qs_func = function(){
                                    let url = new URL(location.href);
                                    url.searchParams.delete('page');
                                    return url;
                                };
                                document.write('<a href="'+ qs_func() + '&page={{ i }}' +'" class="page_square_btn">{{ i }}</a>')
                            </script>
                        {% endif %}
                    {% endfor %}
                    {% if offers.number|add:'5' < offers.paginator.num_pages %}
                            <script>
                                var qs_func = function(){
                                    let url = new URL(location.href);
                                    url.searchParams.delete('page');
                                    return url;
                                };
                                document.write('<a href="'+ qs_func() + '&page={{ offers.paginator.num_pages }}' +'" class="page_square_btn">{{ offers.paginator.num_pages }}</a>')
                            </script>
                    {% endif %}
                </div>
                {% else %}
                <div class="page-numbers__btns">
                    {% if offers.number|add:'-5' > 1 %}
                        <script>
                            var qs_func = function(){
                                let url = new URL(location.href);
                                url.searchParams.delete('page');
                                return url;
                            };
                            document.write('<a href="'+ qs_func() + '?page=1' +'" class="page_square_btn">1</a>')
                        </script>
                    {% endif %}

                    {% for i in offers.paginator.page_range %}
                        {% if offers.number == i %}
                            <span class="page_square_btn page_square_btn__current">{{ offers.number }}</span>
                        {% elif i > offers.number|add:'-4' and i < offers.number|add:'4' %}
                            <script>
                                var qs_func = function(){
                                    let url = new URL(location.href);
                                    url.searchParams.delete('page');
                                    return url;
                                };
                                document.write('<a href="'+ qs_func() + '?page={{ i }}' +'" class="page_square_btn">{{ i }}</a>')
                            </script>
                        {% endif %}
                    {% endfor %}
                    {% if offers.number|add:'5' < offers.paginator.num_pages %}
                            <script>
                                var qs_func = function(){
                                    let url = new URL(location.href);
                                    url.searchParams.delete('page');
                                    return url;
                                };
                                document.write('<a href="'+ qs_func() + '?page={{ offers.paginator.num_pages }}' +'" class="page_square_btn">{{ offers.paginator.num_pages }}</a>')
                            </script>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <br>
            <hr style="margin-top: 35px;">
            
            {% if bottom_banners %}
                <div class="bottom_banner">
                    {% for banner in bottom_banners %}
                        {{ banner.code|safe }}
                    {% endfor %}
                </div>
            {% endif %}

        </div>
        <!--<div class="ad-unit ad-unit_top"></div>-->
    </section>


<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
<script>
    $( "#tags" ).autocomplete({
      source: [{{ category_list|safe }}]
    });
</script>
<script>
    function search_cstm(){
        let el_at = document.getElementById("alltime");
        let el_yt = document.getElementById("daytime");
        let el_wt = document.getElementById("weektime");
        let el_mt = document.getElementById("monthtime");
        let source = document.getElementById("source").value;
        let keywords = document.getElementById("keywords").value;
        let region = document.getElementById("region").value;
        let category = document.getElementById("tags").value;
        let search_url = "https://synrate.ru/ostatki/";
        let attrs = "page=1";

        if (el_at.checked){
            at = 1;
        }

        if (el_yt.checked){
            yt = 1;
            attrs = attrs + "?time_mt=day";
        }
        if (el_wt.checked){
            attrs = attrs + "?time_mt=week";
        }

        if (el_mt.checked){
            attrs = attrs + "?time_mt=month";
        }

        if (keywords != ""){
            attrs = attrs + "?keywords=" + keywords;
        }
        if (source != "all"){
            attrs = attrs + "?source="+source;
        }
        if (region != ""){
            attrs = attrs + "?region=" + region;
        }
        if (category != ""){
            attrs = attrs + "?category=" + category.rep;
        }


        window.location = search_url + attrs;
    }


    //alert(decodeURIComponent(window.location));
    function qs_func() {
      let url = new URL(location.href);
      url.searchParams.delete('page');
      return url;
    }
</script>
{% endblock content %}
