<style>
    #search_filter {
        display: flex;
        gap: 7px;
        margin-bottom: 20px;
        flex-direction: row;
    }
    #search_filter select {
        border-radius: 0.25rem;
    }
    .filtr-list {
        display: flex;
        justify-content: center;
    }

    @media (max-width: 990px) {
        #search_filter {
            flex-wrap: wrap;
            justify-content: center;
        }
        #from_filter_select {
            width: 100%;
            margin-bottom: 0px;
            /* height: 36px; */
        }
        #search_filter_button {
            margin-top: 10px;
            
        }
        #other_filters {
            margin-left: 0px;
        }
    }
    @media (max-width: 600px) {
        #search_filter {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
</style>

<section class="filtrs" id="filtrs">
    <div class="container">
        {% csrf_token %}
        <form action="{% url 'synrate_main:filtration' %}">

            <div>
                <div id="search_filter" >
                    <select name="from_filter" id="from_filter_select" aria-label="Источник" class="filtrs-btn filter-btn filter-btn_arrow">
                            <option value="" selected>Источник</option>
                            <option {% if from_filter == 'nelikvidi' %}selected{% endif%} value="nelikvidi">nelikvidi.com</option>
                            <option {% if from_filter == 'onlinecontract' %}selected{% endif%} value="onlinecontract">onlinecontract.ru</option>
                            <option {% if from_filter == 'tektorg' %}selected{% endif%} value="tektorg">tektorg.ru</option>
                            <option {% if from_filter == 'tenderpro' %}selected{% endif%} value="tenderpro">tender.pro</option>
                            <option {% if from_filter == 'roseltorg' %}selected{% endif%} value="roseltorg">roseltorg.ru</option>
                            <option {% if from_filter == 'isource' %}selected{% endif%} value="isource">reserve.isource.ru</option>
                            <option {% if from_filter == 'etpgpb' %}selected{% endif%} value="etpgpb">etpgpb.ru</option>
                            <option {% if from_filter == 'fabrikant' %}selected{% endif%} value="fabrikant">fabrikant.ru</option>
                            <option {% if from_filter == 'etp-activ' %}selected{% endif%} value="etp-activ">etp-activ.ru</option>
                            <option {% if from_filter == 'b2b-center' %}selected{% endif%} value="b2b-center">b2b-center.ru</option>
                            <option {% if from_filter == 'prostanki' %}selected{% endif%} value="prostanki">prostanki.com</option>
                            <option {% if from_filter == 'metaprom' %}selected{% endif%} value="metaprom">metaprom.ru</option>
                            <option {% if from_filter == 'promportal' %}selected{% endif%} value="promportal">promportal.su</option>
                            <option {% if from_filter == 'vk.com' %}selected{% endif%} value="vk.com">vk.com</option>
                            <option {% if from_filter == 'telegram' %}selected{% endif%} value="telegram">telegram</option>
                    </select>
                    <input 
                        id="search_field" 
                        type="text" 
                        name="search_filter" 
                        class="form-control" 
                        {% if search_filter %}value="{{ search_filter }}"{% endif %}
                        placeholder="Поиск.." 
                        aria-label="Recipient's username" 
                        aria-describedby="button-addon2"
                    >
                    <button type="submit" id="search_filter_button" class="btn btn-light">Поиск</button>
                    <!--<button  class="filtrs-btn filter-btn submit-button">Поиск</button>-->
                </div>
                <ul id="other_filters" class="filtr-list">
                 {% comment %}
                    <li>
                        <div class="filtrs-btns-wrapper">
                            <!--<div class="filtrs-btns__title">
                                <span>Фильтры:</span>
                            </div>-->

                            <div class="btn-group" role="group" id="time_buttons" aria-label="Basic radio toggle button group">

                                <input type="radio" class="btn-check" {% if time_filter == 'all' or time_filter == 0 %}checked{% endif%} value="all" name="time_filter" id="btnradio1" autocomplete="off">
                                <label class="btn btn-outline-secondary" for="btnradio1">Все время</label>

                                <input type="radio" class="btn-check" {% if time_filter == '1' %}checked{% endif%} value="1" name="time_filter" id="btnradio2" autocomplete="off">
                                <label class="btn btn-outline-secondary" for="btnradio2">Сутки</label>

                                <input type="radio" class="btn-check" {% if time_filter == '7' %}checked{% endif%} value="7" name="time_filter" id="btnradio3" autocomplete="off">
                                <label class="btn btn-outline-secondary" for="btnradio3">Неделя</label>

                                <input type="radio" class="btn-check" {% if time_filter == '31' %}checked{% endif%} value="31" name="time_filter" id="btnradio5" autocomplete="off">
                                <label class="btn btn-outline-secondary" for="btnradio5">Месяц</label>
                            </div>
                        </div>
                    </li>

                    <li>
                        <button type="button" class="filtrs-btn filter-btn">Выбрать даты</button>
                    </li>

                    <li>
                        <select name="from_filter" id="from_filter_select" aria-label="Источник" class="filtrs-btn filter-btn filter-btn_arrow">
                            <option value="" selected>Источник</option>
                            <option {% if from_filter == 'nelikvidi' %}selected{% endif%} value="nelikvidi">nelikvidi.com</option>
                            <option {% if from_filter == 'onlinecontract' %}selected{% endif%} value="onlinecontract">onlinecontract.ru</option>
                            <option {% if from_filter == 'tektorg' %}selected{% endif%} value="tektorg">tektorg.ru</option>
                            <option {% if from_filter == 'tenderpro' %}selected{% endif%} value="tenderpro">tender.pro</option>
                            <option {% if from_filter == 'roseltorg' %}selected{% endif%} value="roseltorg">roseltorg.ru</option>
                            <option {% if from_filter == 'isource' %}selected{% endif%} value="isource">reserve.isource.ru</option>
                            <option {% if from_filter == 'etpgpb' %}selected{% endif%} value="etpgpb">etpgpb.ru</option>
                            <option {% if from_filter == 'fabrikant' %}selected{% endif%} value="fabrikant">fabrikant.ru</option>
                            <option {% if from_filter == 'etp-activ' %}selected{% endif%} value="etp-activ">etp-activ.ru</option>
                            <option {% if from_filter == 'b2b-center' %}selected{% endif%} value="b2b-center">b2b-center.ru</option>
                            <option {% if from_filter == 'prostanki' %}selected{% endif%} value="prostanki">prostanki.com</option>
                            <option {% if from_filter == 'metaprom' %}selected{% endif%} value="metaprom">metaprom.ru</option>
                            <option {% if from_filter == 'promportal' %}selected{% endif%} value="promportal">promportal.su</option>
                            <option {% if from_filter == 'vk.com' %}selected{% endif%} value="vk.com">vk.com</option>
                            <option {% if from_filter == 'telegram' %}selected{% endif%} value="telegram">telegram</option> 
                        </select>
                    </li>
                    {% endcomment %}
                    <li>
                        Искать:
                        <input type="radio" name="search_target" value="additional_data" {% if search_target == "additional_data" %}checked{% endif%}/>&nbsp;Объявления
                        <input type="radio" name="search_target" value="location" {% if search_target == "location" %}checked{% endif%}/>&nbsp;Регионы
                        <input type="radio" name="search_target" value="organisation" {% if search_target == "organisation"  %}checked{% endif%}/>&nbsp;Организации
                    </li>

                    {% comment %}
                    <li>
                        <button type="button" class="filtrs-btn filter-btn filter-btn_arrow">Локации</button>
                    </li>
                    <li>
                        <button type="button" class="filtrs-btn filter-btn filter-btn_arrow">Дополнительно</button>
                    </li>
                    {% endcomment %}

                    {% comment %}
                    <li>
                        <button type="button" class="filtrs-btn filter-btn filter-btn_plus">Ключевые слова</button>
                    </li>
                    <li>
                        <button type="button" class="filtrs-btn filter-btn filter-btn_cross">полный</button>
                    </li>
                    <button type="submit" class="filtrs-btn filter-btn submit-button">Поиск</button>
                    </li>

                    {% endcomment %}

                </ul>
            </div>
        </form>

        <!--<div class="ad-unit"></div>-->
    </div>
</section>