{% extends 'base.html' %}
{% load static %}
{% block title %}{{ offer.name|truncatechars:120 }}{% endblock title %}
{% block content %}
    <style>
        .offer-block__img {
            width: 190px !important;
            height: 200px !important;
        }
    </style>
    <section class="product-card">
        <div class="container">
            <div style="text-align: center; margin-left: 120px; margin-right: 100px;">
                <p class="product-offer__text">
                    <h1>{{ offer.name|truncatechars:120 }}</h1>
                </p>
            </div>
            <div class="product-card__wrapper">
                <div class="product-card__img">
                    <div class="card-img">
                        {% if offer.home_name == "nelikvidi" %}
                        <a href="{{ offer.url }}" target="_blank"><img src="{% static 'img/nelikvidi.png' %}" alt=""></a>
                        {% endif %}
                        {% if offer.home_name == "tektorg" %}
                        <a href="{{ offer.url }}" target="_blank"><img src="{% static 'img/tectorg.png' %}" alt=""></a>
                        {% endif %}
                        {% if offer.home_name == "tenderpro" %}
                        <a href="{{ offer.url }}" target="_blank"><img src="{% static 'img/tender.png' %}" alt=""></a>
                        {% endif %}
                        {% if offer.home_name == "isource" %}
                        <a href="{{ offer.url }}" target="_blank"><img src="{% static 'img/isource.png' %}" alt=""></a>
                        {% endif %}
                        {% if offer.home_name == "onlinecontract" %}
                        <a href="{{ offer.url }}" target="_blank"><img src="{% static 'img/onlinecontract.png' %}" alt=""></a>
                        {% endif %}
                        {% if offer.home_name == "roseltorg" %}
                        <a href="{{ offer.url }}" target="_blank"><img src="{% static 'img/roseltorg.png' %}" alt=""></a>
                        {% endif %}
                        {% if offer.home_name == "etpgpb" %}
                        <a href="{{ offer.url }}" target="_blank"><img src="{% static 'img/etpgpb_1.png' %}" alt=""></a>
                        {% endif %}
                        {% if offer.home_name == "fabrikant" %}
                        <a href="{{ offer.url }}" target="_blank"><img src="{% static 'img/fabrikant_1.png' %}" alt=""></a>
                        {% endif %}
                        {% if offer.home_name == "etp-activ" %}
                        <a href="{{ offer.url }}" target="_blank"><img src="{% static 'img/etp-activ.png' %}" class="offer-block__img" alt=""></a>
                        {% endif %}
                        {% if offer.home_name == "b2b-center" %}
                        <a href="{{ offer.url }}" target="_blank"><img src="{% static 'img/b2b-center.png' %}" class="offer-block__img" alt=""></a>
                        {% endif %}
                    </div>
                    <a href="{{ offer.url }}" target="_blank">Перейти на источник</a>
                </div>
                <div class="product-offer">
                    <table>
                      <tr>
                        <td><span class="number-offer">№ процедуры - {{ offer.id }}</span></td>
                      </tr>
                      <tr>
                        <td>
                            <div class="product-offer">
                                <p class="product-additional_data">{{ offer.name }} {{ offer.additional_data }}</p>
                            </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                            {% if offer.organisation != None and offer.organisation != '' %}
                            <div class="product-organization">
                                <p class="product-organization-name"><span>Организация:</span> {{ offer.organisation }}</p>
                            </div>
                            {% endif %}
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <div class="product-offer__organization">
                                {% if offer.location != None and offer.location != '' %}
                                <div class="product-organization-region">
                                    <p class="product-organization-region-name">
                                        <span>Регион:</span> {{ offer.location }}</p>
                                </div>
                                {% endif %}
                            </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                            {% if offer.type != None %}
                            <div class="product-organization-deal__type">
                                <p class="product-organization-sale">
                                    <span>Тип сделки:</span> {{ offer.type }}
                                </p>
                            </div>
                            {% endif %}
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <div class="product-organization-deal-price">
                                <p class="product-organization-price">
                                    {% if offer.offer_price != None and offer.offer_price != 0 %}
                                  <span>Цена (руб):</span> {{ offer.offer_price }}
                                    {% endif %}
                                </p>
                            </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <div class="product-date">
                            <p class="product-date-time">
                                {% if offer.offer_start_date != None %}
                                <span>Размещено:</span> {{ offer.offer_start_date }} <br>
                                {% endif %}
                                {% if offer.offer_end_date != None %}
                                <span>Актуально до:</span> {{ offer.offer_end_date }} <br>
                                {% endif %}
                                <span>Просмотров: {{ offer.views }}</span>
                            </p>
                        </div>
                        </td>
                      </tr>

                    </table>
                </div>
            </div>
            <!--<div class="ad-unit"></div>-->
        </div>
    </section>
    <section class="ads" id="ads">
        <div class="container">
            <div class="ads-wrapper">
                <h2 class="ads-wrapper__title">
                    Подобные объявления:
                </h2>
                <div class="ads-block">
                    {% for offer in offers %}
            <div class="offers-block">
                <div class="offer-block">
                    <div class="offer-block-img">
                            {% if offer.home_name == "nelikvidi" %}
                            <img src="{% static 'img/nelikvidi.png' %}" class="offer-block__img" alt="">
                            {% endif %}
                            {% if offer.home_name == "tektorg" %}
                            <img src="{% static 'img/tectorg.png' %}" class="offer-block__img" alt="">
                            {% endif %}
                            {% if offer.home_name == "tenderpro" %}
                            <img src="{% static 'img/tender.png' %}" class="offer-block__img" alt="">
                            {% endif %}
                            {% if offer.home_name == "isource" %}
                            <img src="{% static 'img/isource.png' %}" class="offer-block__img" alt="">
                            {% endif %}
                            {% if offer.home_name == "onlinecontract" %}
                            <img src="{% static 'img/onlinecontract.png' %}" class="offer-block__img" alt="">
                            {% endif %}
                            {% if offer.home_name == "roseltorg" %}
                            <img src="{% static 'img/roseltorg.png' %}" class="offer-block__img" alt="">
                            {% endif %}
                            {% if offer.home_name == "etpgpb" %}
                            <img src="{% static 'img/etp_hd.png' %}" class="offer-block__img" alt="">
                            {% endif %}
                            {% if offer.home_name == "fabrikant" %}
                            <img src="{% static 'img/fabrikant.png' %}" class="offer-block__img" alt="">
                            {% endif %}
                            {% if offer.home_name == "etp-activ" %}
                            <img src="{% static 'img/etp-activ.png' %}" class="offer-block__img" alt="">
                            {% endif %}
                            {% if offer.home_name == "b2b-center" %}
                            <img src="{% static 'img/b2b-center.png' %}" class="offer-block__img" alt="">
                            {% endif %}
                        </div>
                        <a href="{% url 'synrate_main:detail_view' id=offer.id %}" class="detailhref">
                            <div class="offer-wrapper">
                                <p class="offer-wrapper__text">
                                    {{ offer.name }}
                                </p>
                                <div class="offer-number">
                                    <span class="number-offer">№ процедуры - {{ offer.id }}</span>
                                    {% if offer.price != 0 %}
                                        <span class="number-procedure">{{ offer.price }}</span>
                                    {% endif %}
                                </div>
                                <div class="offer-organization">
                                    <div class="offer-organization-wrapper">
                                        {% if offer.organisation != None and offer.organisation != '' %}
                                        <div class="offer-organization__name">
                                            <p>{{ offer.organisation }}</p>
                                        </div>
                                        {% endif %}
                                        {% if offer.location != None and offer.location != '' %}
                                        <div class="offer-organization__address">
                                            <p>{{ offer.location }}</p>
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% if offer.offer_start_date != None %}
                                    <div class="offer-organization__time">
                                        <span class="offer-organization__time__number"> {{ offer.offer_start_date }}</span>
                                    </div>
                                    {% endif %}
                                    {% if offer.offer_end_date != None %}
                                    <div class="offer-organization__time">
                                        <span class="offer-organization__time__number"> {{ offer.offer_end_date }}</span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}