<style>
    .banner_link {
        color: #059AE5;
    }

    .relinking_banner_block {
        padding-top: 10px;
    }
    .relink_block {
        border: 2px solid darkgrey;
        border-radius: 2px;
        padding: 5px;
    }
</style>

<div class="sidebar">
    {% if search_queries %}
        <div class="relinking_banner_block">
            {% for banner in right_banners %}
                {{ banner.code|safe }}
            {% endfor %}
            <br>
            <div class="relink_block">
                <h5>Продажа остатков:</h5>
                <ul>                
                    {% for search_query in search_queries %}
                        <li><a class="banner_link" href="/offer/ostatki/{{ search_query.slug }}/">{{ search_query.phrase }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
</div>