<style>
    .banner_link {
        color: #059AE5;
    }

    .relinking_banner_block {
        padding-top: 10px;
    }
</style>

<div class="sidebar">
    {% if search_queries %}
        <div class="relinking_banner_block">
            <ul>
                {% for banner in right_banners %}
                    {{ banner.code|safe }}
                {% endfor %}

                {% for search_query in search_queries %}
                    <li><a class="banner_link" href="/offer/ostatki/{{ search_query.slug }}/">{{ search_query.phrase }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>