<style>
    .relinking_banner_block__link {
        color: #059AE5;
    }

    .relinking_banner_block {
        padding-top: 10px;
    }
    .relinking_banner_block__links {
        border: 2px solid darkgrey;
        border-radius: 2px;
        padding: 10px;
    }
    .relinking_banner_block__header {
        padding-bottom: 10px;
    }
</style>

<div class="sidebar">
    {% if search_queries %} 
        <div class="relinking_banner_block">
            {% for banner in right_banners %}
                {{ banner.code|safe }}
            {% endfor %}
            <br>
            <div class="relinking_banner_block__links">
                <h5 class="relinking_banner_block__header">Продажа остатков:</h5>
                <ul>                
                    {% for search_query in search_queries %}
                        <li><a class="relinking_banner_block__link" href="/offer/ostatki/{{ search_query.slug }}/">{{ search_query.phrase }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
</div>