{% load cms_tags menu_tags sekizai_tags staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{% page_attribute 'meta_description' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'synrate_static/css/css2.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'synrate_static/css/style.css' %}">
    <link href="{% static 'synrate_static/img/favicon.png' %}" rel="icon" type="image/x-icon">
    <title>{% page_attribute 'page_title' %} - Synrate</title>
    <style>
        .cms-screenblock{
            display: none;
        }
    </style>
    <script src="{% static 'synrate_static/js/jquery-3.6.0.min.js' %} "></script>

    {% render_block "css" %}
</head>
<body>
    {% cms_toolbar %}

    <header class="header" id="header">
        <div class="container container_relative">
            <nav>
                <div class="logo">
                    <a href="{% url 'synrate_main:index' %}" class="logo__link"><img src="{% static 'synrate_static/img/logo.svg' %}" alt="logo"></a>
                </div>
                <div class="search">
                    <form class="search__line">
                        <input type="search" name="q" placeholder="Начните поиск..." class="search__item">
                    </form>
                    <div class="search__img"></div>
                </div>
                <div class="nav">
                    <ul class="nav__list">
                        <li class="nav__item ">
                            <a href="{% url 'synrate_main:category_list' %}" class="nav__link nav__link_list" id="nav__link_list">Категории</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">Тарифы</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">Контакты</a>
                        </li>
                        <li class="nav__item">
                            <a href="faq.html" class="nav__link">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="mobile-menu">
                    <button type="button" class="mobile-menu__btn"></button>

                </div>
                <div class="user-block">
                    <button type="button" class="user-block__btn user-block__btn_active" id="user-block__btn">
                        <div class="user-img">
                            <img src="{% static 'synrate_static/img/Icon-User.svg' %}" alt="user">
                        </div>
                        <div class="user-name">
                            <p class="user-name__text">
                                {{ request.user }}
                            </p>
                        </div>
                    </button>
                </div>
                <div class="user-block-list" id="user-block-list">
                    <button type="button" class="user-block-list-button" id="user-block-list-button">
                        <div class="user-img user-img_click">
                            <img src="{% static 'synrate_static/img/icon user gr.svg' %}" alt="user">
                        </div>
                        <div class="user-name user-name_click">
                            <p class="user-name__text">
                                {{ request.user }}
                            </p>
                        </div>
                    </button>
                    <ul>
                        <li>
                            <a href="{% url 'Users:cabinet' %}">Настройки</a>
                        </li>
                        <li>
                            <a href="#">Финансы</a>
                        </li>
                        <li>
                            <a href="{% url 'synrate_main:category_list' %}">Категории</a>
                        </li>
                        <li>
                            <a href="favorites.html">Избранное</a>
                        </li>
                        <li>
                            <a href="#">Тех.поддержка</a>
                        </li>
                        <li>
                            <a href="{% url 'Users:logout' %}" class="btn-exit btn-exit_blue">Выход</a>
                        </li>
                    </ul>
                </div>
                <div class="mobile-menu-block">
                    <ul class="nav__list">
                        <li class="nav__item ">
                            <a href="#" class="nav__link nav__link_mobile" id="nav__link_list">Категории</a>
                        </li>
                        <li class="nav__item">
                            <a href="https://synrate.ru/info/tarify" class="nav__link">Тарифы</a>
                        </li>
                        <li class="nav__item">
                            <a href="https://synrate.ru/info/kontakty/" class="nav__link">Контакты</a>
                        </li>
                        <li class="nav__item">
                            <a href="https://synrate.ru/info" class="nav__link">FAQ</a>
                        </li>
                    </ul>
                    <div class="categories-block_mobile categories-block" id="categories-block">
                        <ul class="categories-list">
                            <li class="categories-item">
                                <a href="{% url 'synrate_main:search_all' %}" class="categories-link categories-link_one">Складские остатки  предприятий</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="categories-block" id="categories-block">
                <ul class="categories-list">
                    <li class="categories-item">
                        <a href="{% url 'synrate_main:search_all' %}" class="categories-link categories-link_one">Складские остатки  предприятий</a>
                    </li>

                </ul>
            </div>
            <div class="cabinet-menu_mini">
                <img src="{% static 'synrate_static/img/icon user gr.svg' %}" alt="user">
                <p class="user-name__text">
                    <img src="{% static 'synrate_static/img/Arrow user.svg' %}" alt="">
                </p>
            </div>
            <div class="cabinet-menu-block-mini">
                <div class="cabinet-menu_mini">
                    <img src="{% static 'synrate_static/img/icon user gr.svg' %}" alt="user">
                    <p class="user-name__text">
                        Личный кабинет
                    </p>
                </div>
                <div class="cabinet-menu-list">
                    <ul class="cabinet-list">
                        <li class="cabinet-list__item">
                            <span class="cabinet-list__link" id="options_button_1">Настройки</span>
                        </li>
                        <li class="cabinet-list__item">
                            <span class="cabinet-list__link" id="finances_button_1">Финансы</span>
                        </li>
                        <li class="cabinet-list__item">
                            <span class="cabinet-list__link" style="color: #56CCF2;" id="favourites_button_1">Избранное</span>
                        </li>
                        <li class="cabinet-list__item">
                            <a href="{% url 'Users:logout' %}" class="btn-exit btn-exit_blue">Выход</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cabinet-menu">
                <div class="cabinet-menu_mini">
                    <img src="{% static 'synrate_static/img/icon user gr.svg' %}" alt="user">
                    <p class="user-name__text">
                        {{ request.user }}
                    </p>
                </div>
                <div class="cabinet-menu-block">
                    <div class="cabinet-menu-img">
                        <img src="{% static 'synrate_static/img/icon user gr.svg' %}" alt="user">
                    </div>
                    <div class="cabinet-menu-user-name">
                        <p class="user-name__text">
                            {{ request.user }}
                        </p>
                    </div>
                </div>
                <div class="cabinet-menu-list">
                    <ul class="cabinet-list cabinet-list_left">
                        <li class="cabinet-list__item">
                            <span class="cabinet-list__link" id="options_button_2">Настройки</span>
                        </li>
                        <li class="cabinet-list__item">
                            <span class="cabinet-list__link" id="finances_button_2">Финансы</span>
                        </li>
                        <li class="cabinet-list__item">
                            <span class="cabinet-list__link" style="color: #56CCF2;" id="favourites_button_2">Избранное</span>
                        </li>
                        <li class="cabinet-list__item">
                            <a href="{% url 'Users:logout' %}" class="btn-exit btn-exit_blue">Выход</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    {% block content %}
    <section class="cabinet" id="cab_section" style="display: none;">
        <div class="container">
            <div class="personal-data">
                <form action="#" class="personal-data__form" method="get">
                    <div class="form-item">
                        <p class="form-item__name">Имя</p>
                        <input tabindex="1" type="text" placeholder="Value" name="username">
                    </div>
                    <div class="form-item">
                        <p class="form-item__name">E-mail</p>
                        <input tabindex="2" type="text" placeholder="Value" name="useremail">
                    </div>
                    <div class="form-item">
                        <p class="form-item__name">Телефон</p>
                        <input tabindex="3" type="tel" placeholder="" name="usertel">
                    </div>
                    <div class="form-item">
                        <p class="form-item__name">Пароль</p>
                        <input tabindex="4" type="password" placeholder="" name="userpass">
                    </div>
                    <button type="submit" class="personal-data-btn">Изменить данные</button>
                    <button type="button" class="personal-data-btn-save">Сохранить</button>
                </form>
            </div>
        </div>
    </section>
    <section class="favorites" id="fav_section" style="display: none;">
        <div class="container">
            <div class="offer-block favorites-block">
                <div class="offer-block-img favorites-block-img">
                    <img src="img/offer-img.png" class="offer-block__img" alt="">
                    <button type="button" class="favorites-star-btn"></button>
                </div>
                <a href="#">
                    <div class="offer-wrapper favorites-block-offer-wrapper">
                        <p class="offer-wrapper__text offer-wrapper__text_small">
                            Реализуем трубу стальную диаметром 530мм. Труба чистая и очищенная. Размеры труб 530х7 530х8 530х12 мм. Осуществляем резку трубы в нужный вам размер, пескоструйную обработку. Труба применяется под металлоконструкции, в трубопроводах промышленного.
                        </p>
                        <div class="offer-number favorites-number">
                            <span class="number-offer">№ процедуры - йцукенгл 12345678</span>
                            <span class="number-procedure">12121212.00</span>
                        </div>
                        <div class="offer-organization favorites-organization">
                            <div class="favorites-organization-block">
                                <div class="offer-organization__name">
                                    <p>ООО "Тестовая организация 555"</p>
                                </div>
                                <div class="offer-organization__address favorites-address">
                                    <p>Московская обл.</p>
                                </div>
                            </div>

                            <div class="offer-organization__time favorites-time">
                                <span class="offer-organization__time__number">19 окт.,</span>
                                <span class="offer-organization__time__time"> 16:43</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="offer-block favorites-block">
                <div class="offer-block-img favorites-block-img">
                    <img src="img/offer-img.png" class="offer-block__img" alt="">
                    <button type="button" class="favorites-star-btn"></button>
                </div>
                <a href="#">
                    <div class="offer-wrapper favorites-block-offer-wrapper">
                        <p class="offer-wrapper__text offer-wrapper__text_small">
                            Реализуем трубу стальную диаметром 530мм. Труба чистая и очищенная. Размеры труб 530х7 530х8 530х12 мм. Осуществляем резку трубы в нужный вам размер, пескоструйную обработку. Труба применяется под металлоконструкции, в трубопроводах промышленного.
                        </p>
                        <div class="offer-number favorites-number">
                            <span class="number-offer">№ процедуры - йцукенгл 12345678</span>
                            <span class="number-procedure">12121212.00</span>
                        </div>
                        <div class="offer-organization favorites-organization">
                            <div class="favorites-organization-block">
                                <div class="offer-organization__name">
                                    <p>ООО "Тестовая организация 555"</p>
                                </div>
                                <div class="offer-organization__address favorites-address">
                                    <p>Московская обл.</p>
                                </div>
                            </div>

                            <div class="offer-organization__time favorites-time">
                                <span class="offer-organization__time__number">19 окт.,</span>
                                <span class="offer-organization__time__time"> 16:43</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section class="pocket" id="money_section" style="display: none;">
        <div class="container" id="money_container" style="text-align: right;">
            <span>Реквизиты:</span> <br>
            <span>MasterCard 81823981829418</span>
            <h3>Баланс:</h3>
            <span>0 руб</span>
            <span>пополнить баланс</span>
        </div>
        <!--<div class="payment-settings" style="text-align: center;">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1" style="background-color: #f37e09; color: black;">@</span>
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>-->
    </section>
    {% endblock content %}
    {% placeholder footer or %}
    <footer class="footer" id="footer">
        <div class="container">
            <div class="footer-nav">
                <div class="footer-messanger">
                    <!-- noindex -->
                    <a href="#" class="footer-messanger__link" rel="nofollow noopener noreferrer" target="_blank">
                        <img src="{% static 'synrate_static/img/whatsapp.svg' %}" alt="whatsapp">
                    </a>
                    <!-- /noindex -->
                    <!-- noindex -->
                    <a href="#" class="footer-messanger__link" rel="nofollow noopener noreferrer" target="_blank">
                        <img src="{% static 'synrate_static/img/insta.png' %}" alt="instagram">
                    </a>
                    <!-- /noindex -->
                    <!-- noindex -->
                    <a href="#" class="footer-messanger__link" rel="nofollow noopener noreferrer" target="_blank">
                        <img src="{% static 'synrate_static/img/telegram.png' %}" alt="telegram">
                    </a>
                    <!-- /noindex -->
                    <!-- noindex -->
                    <a href="#" class="footer-messanger__link" rel="nofollow noopener noreferrer" target="_blank">
                        <img src="{% static 'synrate_static/img/fb.svg' %} " alt="facebook">
                    </a>
                    <!-- /noindex -->
                </div>
                <div class="footer-menu">
                    <ul>
                        <li>
                            <a href="{% url 'synrate_main:category_list' %}">Категории</a>
                        </li>
                        <li>
                            <a href="https://synrate.ru/info/tarify">Тарифы</a>
                        </li>
                        <li>
                            <a href="https://synrate.ru/info/kontakty/">Контакты</a>
                        </li>
                        <li>
                            <a href="https://synrate.ru/info">FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-info">
                <div class="footer-info__block">
                    <span>2021</span>
                    <a href="{% url 'synrate_main:index' %}">SYNRATE.RU</a>
                </div>
                <div class="footer-info-user">
                    <a href="https://synrate.ru/info/polzovatelskoe-soglashenie/">Пользовательское соглашение</a>
                    <a href="https://synrate.ru/info/politika-konfidencialnosti/">Политика конфиденциальности</a>
                </div>
            </div>
        </div>
    </footer>
    {% endplaceholder %}

    <script>
        var financ_butt_1 = document.getElementById("finances_button_1");
        var financ_butt_2 = document.getElementById("finances_button_2");
        var options_butt_1 = document.getElementById("options_button_1");
        var options_butt_2 = document.getElementById("options_button_2");
        var fav_butt_1 = document.getElementById("favourites_button_2");
        var fav_butt_2 = document.getElementById("favourites_button_2");

        var fin_flag = false;
        var opt_flag = true;
        var fav_flag = false;

        function select_w(){
            if (fav_flag == true){
                $("#fav_section").css("display", "block");
            } else {
                $("#fav_section").css("display", "none");
            }
            if (opt_flag == true){
                $("#cab_section").css("display", "block");
            } else {
                $("#cab_section").css("display", "none");
            }
            if (fin_flag == true){
                $("#money_section").css("display", "block");
            } else {
                $("#money_section").css("display", "none");
            }
        }
        select_w();

        financ_butt_1.onclick = function(){
            fin_flag = true;
            opt_flag = false;
            fav_flag = false;
            select_w();
        };
        financ_butt_2.onclick = function(){
            fin_flag = true;
            opt_flag = false;
            fav_flag = false;
            select_w();
        };
        options_butt_1.onclick = function(){
            fin_flag = false;
            opt_flag = true;
            fav_flag = false;
            select_w();
        };
        options_butt_2.onclick = function(){
            fin_flag = false;
            opt_flag = true;
            fav_flag = false;
            select_w();
        };
        fav_butt_2.onclick = function(){
            fin_flag = false;
            opt_flag = false;
            fav_flag = true;
            select_w();
        };
        fav_butt_1.onclick = function(){
            fin_flag = false;
            opt_flag = false;
            fav_flag = true;
            select_w();
        };
    </script>

    <script src="{% static 'synrate_static/js/main.js' %}"></script>
    <!— Yandex.Metrika counter —>
    <script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(86669882, "init", {
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true,
    webvisor:true
    });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/86669882" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!— /Yandex.Metrika counter —>
    {% render_block "js" %}
</body>
</html>